.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
  background: #fff;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-top: 30px;
  width: 100%;
}

.text{
  font-size: 48px;
  font-weight: 700;
  color: #3c009d;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  border-radius: 6px;
  background: #eaeaea;
}

.input input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  color: #797979;
}

.forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  margin-left: 340px;
  font-size: 13px;
  color: #797979;
}

.forgot-password span{
  cursor: pointer;
  color: #4c00bb;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.sumit .gray{
  cursor: pointer;
}